  <div class="list-group">
    {% for tool in site.data.tools %}
      <a href="{{ tool.url }}" class="list-group-item list-group-item-action flex-column align-items-start border-light">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ tool.name }}</h5>
          <small><span class="text-light">License:</span> {{ tool.license }}</small>
        </div>
        <p class="mb-1">
          {{ tool.description }}
        </p>
        <span class="text-light octicon-white">
          {% octicon link %}
          &nbsp;
          {{ tool.url }}
        </span>
      </a>
    {% endfor %}
  </div>
