<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Bootstrap Superhero Theme -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-3C9izce+NThLmHHj0Gt0VSOFFr0FCxoyLNcCB+uYxTGXDdw64SxJ34SI/rnKRnvu" crossorigin="anonymous">

    <title>{{ site.title }}</title>

    <style>
      .img-round {
        border-radius: .25rem !important;
      }
    </style>

  </head>
  <body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container">

        <a class="navbar-brand" href="/">
          <img src="{{ site.github.owner_gravatar_url }}" class="img-round" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if page.url == '/' %} active{% endif %}">
              <a class="nav-link" href="/">Home{% if page.url == '/' %} <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item{% if page.url == '/about.html' %} active{% endif %}">
              <a class="nav-link" href="/about.html">About{% if page.url == '/about.html' %} <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
          </ul>

          <!--
            This can be used to implement a search later. Maybe client side full text search with JavaScript?
            <form class="form-inline my-2 my-lg-0">
              <div class="input-group mr-sm-2">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-button">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit" id="search-button">{% octicon search %}</button>
                </div>
              </div>
            </form>
          -->

        </div>

      </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">{{ site.title }}</h1>
        <p class="lead">{{ site.description }}</p>
      </div>
    </div>

    <div class="container">

      {{ content }}

    </div>

    <div class="jumbotron jumbotron-fluid mt-5  mb-0">
      <div class="container">
        <div class="row bg-secondary">
          <div class="col-md-6">
            <h5>Social</h5>
            <p>
              This blog: <a href="/feed.xml">Atom Feed</a><br>
              GitHub: <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br>
              Twitter: <a href="https://twitter.com/{{ site.twitter_name }}">{{ site.twitter_name }}</a>
            </p>
          </div>
          <div class="col-md-6">
            <h5>Copyright Information</h5>
            <p>
              This page is licensed under the {{ site.github.license.name }}.<br>
              You can see the source in the <a href="{{ site.github.repository_url }}">GitHub Repository</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
